@import '../variables.scss';

.section {
  margin-top: 30vh;
  background-color: $color-primary;
  text-align: center;
  padding: 3rem 0;

  span {
    font-size: 5rem;
    color: $color-secondary;
    text-shadow: 3px 3px darken($color-secondary, 20);
  }

  p {
    font-size: 2rem;
    margin-top: 2rem;
  }
}

.link {
  display: inline-block;
  text-decoration: none;
  background-color: $color-primary-dark;
  color: white;
  padding: 1rem 2rem;
  border-radius: 10px;
  margin-top: 2rem;
  transition: transform 0.25s;

  &:hover {
    transform: scale(1.2);
  }
}
